<!DOCTYPE html>
	<html>
	<head>
        <title>Semi-Restful Users</title>
        {%load static%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <h1>　Edit User {{user.id}} info　</h1>
                <div id="product">               
                    <form action="/semi_users/update/{{user.id}}" method='post'>
                        {% csrf_token %}
                    First name:<br>
                    <input type="text" name="firstname">
                    <br>
                    Last name:<br>
                    <input type="text" name="lastname">
                    <br>
                    Email:<br>
                    <input type="text" name="email">
                    <input type="submit" value="Update">
                    </form> 
                </div>
            <a href="/semi_user/show/{{user.id}}">Show/  </a> | <a href="/semi_users">Go back</a>
        </div>
	</body>
</html>